body{
	font-family:sans-serif;
}

.centred {
	text-align: center; 
}

.hidden {
	display:none;
}

.visible td{
	overflow:hidden;
}

table{
	border-collapse: collapse;
}

#featuresTable td:not(:first-child){
	text-align:center;
}

td{
	cursor:pointer;
}

td:first-child, th:first-child{
	border-bottom-left-radius:5px;
	border-top-left-radius:5px;
}

td:last-child, th:last-child{
	border-bottom-right-radius:5px;
	border-top-right-radius:5px;
}


#scenariosPart{
	top:30%;
    	height: 59%;
    	padding: 0px;
	overflow-y: scroll;
	border-top:5px solid coral;
}

#featuresPart{
    	height: 39%;
	overflow-y: scroll;
}

#scenariosTable td:not(:first-child){
	text-align:center;
}

tr:hover{
	background-color:LightSteelBlue;
	color:white;
}

th{
	background-color:coral;
	color:black;
}

#scenariosPart table{
	width:100%;
}

#scenariosPart table::before{
	content: "Steps";
	font-weight: bold;
	color:white;
}

.selected{
	background-color:LightSlateGray;
	color:white;
}

#featuresPart, #scenariosPart{
	margin-left:1%;
	margin-right:1%;
	margin-bottom:3px;
}

 #scenariosPart{
	background-color:Gainsboro;
}
.failed{
	color:red;
}

.passed{
	color:green;
}

.skipped{
	color:blue;
}
