.centred {
	text-align: center; 
}

.hidden {
	display:none;
}

.visible td{
	overflow:hidden;
}

.scenariosTable td:nth-child(2){
	text-align:center;
}

td{
	cursor:pointer;
}

#scenariosPart{
	background-color:blue;
	position:absolute;
	top:30%;
	width: 99%;
    	height: 70%;
    	padding: 0px;
	overflow-y: scroll;
}

#featuresPart{
    	height: 30%;
	overflow-y: scroll;
}
